<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AppCenter-Config.plist
   ClikAutoApp

   Created by Cesar Serrano on 29/09/22.
   Copyright (c) 2022 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
  <key>AppSecret</key>
  <string>6d885ecb-4cf2-4bef-b1ae-0e6f58cc1d0d</string>
</dict>
</plist>
